.headers {color:darkblue;
}

.section {background-color: blanchedalmond;
}

#pic {border-radius: 20px;
}

#email {background-color: goldenrod;}

#github {background-color: lightblue;}

#portfolio {background-color: darkorange;}

